{% extends "base.html" %}
{% load static %}
{% block title %} Home {%endblock title%}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head%}
{% block welcome %}
<li class="nav-item">
    <a class="nav-link">Welcome {{user.username}}</a>
</li>
{% endblock welcome %}
{% block content %}
{% csrf_token %}
<div class="sub-wrapper">
    <div class="sub">
        <h3>Movies</h3>
        {% for movie in movies %}
        <h5><a href="{% url 'movies:get_movie' movie %}"> {{movie}}</a></h5>
        {% endfor %}
    </div>
</div>

<!-- <script>
    function cancel() {
        location.href = "{% url 'subscription:cancelPremium'%}"
    }

    function premium() {
        location.href = "{% url 'subscription:getPremium'%}"
    }
</script> -->

{% endblock content %}